<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liz-peng/p5.Polar/p5.Polar.min.js"></script>   
        <link rel="stylesheet" type="text/css" href="/styles.css" >   
      </head>
      <body>
        <main class="model1">
          <nav>
            <div class="logo">
              <h4><a href="/">Art Project</a></h4>
            </div>
            <ul class="log-links">
              <li><a href="/imagesPage">User-Art</a></li>
              <li><a href="/art1">Model-1</a></li>
              <li><a href="/art2">Model-2</a></li>
              <li><a href="/logout">Log out</a></li>
            </ul>
          </nav>
          <h1>Model 1</h1>
          <script id="sketch" src="sketch.js"></script>
        </main>
      </body>
</html> 