<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", intial-scale="1.0" />
        <title>Home page</title>
        <link rel="stylesheet" type="text/css" href="/styles.css" >   

    </head>
    <body>
        <nav>
            <div class="logo">
                <h4><a href="/">Art Project</a></h4>
            </div>
            <ul class="nav-links">
                <li><a href="/register"> Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <div class="content">
            <div id ="info">
                <div>This application's intention is to generate art based on the existing models. </div>
                <div>Please <a href="/register">REGISTER</a> (or) <a href="/login">LOGIN</a> to get started.</div> 
            </div>
            <div>
                <div id ="info2">
                    This application is created using node.js, mongodb, p5.js, express and ejs for the view engine.
                </div>
            </div>
        </div>
        <footer >
            <div>&copy The Art project by Akhilender Vallab, 2022.</div>
        </footer>    
    </body> 
</html> 