<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css" >   
  <title>Registration Page</title>

</head>
<body>
  <nav>
    <div class="logo">
      <h4><a href="/">Art Project</a></h4>
    </div>
    <ul class="nav-links">
      <li><a href="/register"> Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <div class="registration">
    <h1>Registration Page</h1>
    <form class="registerForm" >
      <div class="error" style="background-color: red;"></div><br>
      <label for="firstName">First name</label><br>
      <input type="text" id="firstName" required/><br>
      <label for="lastName">Last name</label><br>
      <input type="text" id="lastName" required/><br>
      <label for="email">email</label><br>
      <input type="email" id="email" required/><br>
      <label for="password">Password</label><br>
      <input type="password" id="password" required><br>
      <input type="submit" id="submitbtn" value="REGISTER"><br>
    </form>
    <a href="/login">Already registered? Login</a>
  </div>
  
  <footer >
    <div>&copy The Art project by Akhilender Vallab, 2022.</div>
  </footer>   
  <script>
    const form = document.querySelector('form');
    const firstName = document.querySelector('#firstName');
    const lastName = document.querySelector('#lastName');
    const email = document.querySelector('#email');
    const password = document.querySelector('#password');
    const display = document.querySelector('.error');

     form.addEventListener('submit', async (e) => {
        e.preventDefault()
        display.textContent = ''
        try {
          const res = await fetch('/api/auth/register', {
            method: 'POST',
            body: JSON.stringify({ firstName: firstName.value, lastName: lastName.value, email: email.value, password: password.value }),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json()
          if(res.status === 400 || res.status === 401){
           return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
          }
          data.role === "admin" ? location.assign('/admin') : location.assign('/user');
        } catch (err) {
          console.log(err.message)
        }

      })
  </script>
</body>
</html>